.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

.progressBarContainer {
  width: 100%;
  margin: 16px 0;
}

.progressBarLabel {
  font-size: 14px;
  margin-bottom: 4px;
  color: #000000;
  text-align: center;
}

.progressBar {
  height: 10px;
  background-color: #4caf50;
  width: 0%;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}